name: Publish

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install uv
        run: pip install uv
      - name: Build
        run: |
          uv build
      - name: Publish to PyPI
        env:
          UV_PYPI_USERNAME: __token__
          UV_PYPI_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          uv publish dist/*
